body{
    padding: 0%;
    margin: 0%;
    background-color: rgb(214, 162, 94);
}
form{
    padding-top: 10%;
    text-align: center;
}
mat-label {
    color: black;
}
mat-form-field{
    outline: black;
    color: black;
}
h1{
    text-align: center;
}
.form-group{
    color: black;
    outline: black;
}