body{
    margin: 0%;
    padding: 0%;
    height: 0%;
    width: 0%;
}
body{
    padding: 0%;
    margin: 0%;
}
mat-label {
    color: black;
}
mat-form-field{
    outline: black;
    color: black;
}
h1{
    text-align: center;
}
.form-group{
    color: black;
    outline: black;
}